.container {
  display: flex;
  justify-content: center;
  margin: 60px;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.content {
  padding: 10px 30px;
  background-color: #672b29;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.content:hover {
  transform: scale(1.1);
}

@media (max-width: 460px) {
  .container {
    margin: 30px;
  }
  .link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
  }
  .content {
    padding: 5px 15px;
    background-color: #672b29;
    border-radius: 20px;
  }
}
