.container {
  background-color: #672b29;
  color: #ffffff;
  margin-top: 60px;
}

.footerInfo {
  display: grid;
  grid-template-columns: 60% 40%;
}

.title,
.footerInfo,
.redes {
  margin-left: 60px;
}
.title {
  padding: 20px 0;
}
.title p {
  font-size: 12px;
}

.infoLeft {
  margin-bottom: 20px;
}

.redes {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  transition: transform 0.3s ease;
}

.img {
  height: 28px;
  transition: transform 0.3s ease;
}

.img:hover {
  transform: translateY(-6px);
}

.links {
  display: flex;
  flex-direction: column;
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-size: 10px;
  transition: transform 0.3s ease;
}

.link:hover {
  transform: scale(1.1);
}
@media (max-width: 460px) {
  .links {
    display: none;
  }
  .title,
  .footerInfo,
  .redes {
    margin-left: 20px;
  }
}
