.container {
  width: 100%;
}

.content {
  width: 80%;

  margin: 16px auto;
}

.content h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 16px;
  color: #400f00;
}

.info {
  display: flex;
}

.info div p {
  font-size: 24px;
  text-align: justify;
  margin-right: 24px;
}

.foto {
  height: 360px;
  width: 400px;
}
