.container {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  transition: transform 0.3s ease;
}

.link:hover {
  transform: scale(1.1);
}

@media (max-width: 460px) {
  .container {
    gap: 4px;
  }
  .link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 200px;
  }
}
