.container {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400px;
}

@media (max-width: 390px) {
  .container {
    gap: 4px;
  }
  .link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 200px;
  }
}
